* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    --black: #2d2926;
    --red: #E94B3CFF;
    background-color: var(--black);
    overflow-x: hidden;
    font-size: 18px;
}

.container {
    width: 80%; 
    margin: 0 auto;
}

h2{
    text-align: center;
}

/*************************
***********Nav************
*************************/

nav {
    height: 8vh;
    color: blanchedalmond;
}
nav div {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav span{
    display: inline-block;
}

nav img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    display: flex;
    width: 35%;
    justify-content: space-between;
}

nav li {
    display: flex;
    align-items: center;
}


nav a {
    text-decoration: none;
    color: white;
}

/*-----------------------------
----------Header---------------
-----------------------------*/
header {
    text-align: center;
    background-color: var(--red);
    height: 65vh;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
}

#hero-img {
    margin-top: 2vh;
    height: 60vh;
    width: auto;
    border-radius: 50%;
    border: 5px solid var(--black);
}

/****************************
*******Section Project*******
****************************/

section {
    margin-top: 100px;
}

.project {
    display:flex;
    background-color: #221f1d;
    width: 60vw;
    margin: 0 auto;
    margin-top: 5vh;
    height: 280px;
    color: white;
    transform: translateX(50%);
    transition: all 0.7s;
    position: relative;
}

.project img {
    width: 90%;
    height: auto;
}

.first-half{
    width: 50%;
    vertical-align: middle;
}

.project-img {
    display: block;
    height: 90%;
    width: 90%;
    margin: 5% 0 0 5%;
    background-image: url("img/blog.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.project-2 .project-img{
    background-image: url("img/unit-convertor.png");
}

.project-3 .project-img {
    background-image: url("img/hello-world.png");
}

.second-half {
    width: 65%
}

.project ul{
    margin-top: 30px;
    list-style: none;
    padding-left: 30px;
}

.techs {
    color: var(--black);
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.techs span {
    display: inline-block;
    text-align: center;
    background-color: var(--red);
    margin-left: 10px;
    width: 120px;
    height: 35px;
    line-height: 40px;
    vertical-align: middle;
    border-radius: 20px;
}


footer {
    margin-top: 100px;
    height:40vh;
    background-color: var(--red);
}